/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.css';

.Header {
  width: 100%;
  height: 70px;
  background-color: var(--color-dark);
}

.Header .Brand_Logo {
  height: 70px;
  width: 70px;
  display: inline-block;
  margin-left: 25px;
}

.Header .Brand_Logo img {
  width: 70px;
  height: 70px;
}

.Header .HeaderRight {
  display: inline-block;
  float: right;
}
